<% solr_documents_features_block.with_solr_helper(self) %>
<% indicators = [] %>
<% html_id = "carousel-#{solr_documents_features_block.object_id}" %>

<div class="content-block carousel-block item-features">
  <% if solr_documents_features_block.documents? %>
    <div id="<%= html_id %>" class="carousel" data-ride="carousel"  data-interval="false">
      <div class="row">
        <div class="col-sm-6">
          <div class="carousel-inner">
            <% solr_documents_features_block.each_document.each_with_index do |(block_options, document), index| %>
              <% doc_presenter = index_presenter(document) %>
              <div class="carousel-item <%= 'active' if index == 0 %>" data-id="<%= document.id %>">
                <% if document.id.is_a? Integer %>
                  <% record = Record.find(document.id) %>
                <% else %>
                  <% record = Record.find(document.id.scan(/\d+/).first.to_i) %>
                <% end %>
                <% if record.file_name %>
                  <a href="<%= record_path(record) %>" style="float:left;">
                    <%= image_tag("https://s3.us-east-2.amazonaws.com/pacscl-production" + record.file_name, class: 'img-thumbnail') %>
                  </a>
                <% end %>
              </div>

              <% indicators << capture do %>
                <li data-target="#<%= html_id %>" data-slide-to="<%= index %>" class="list-group-item <%= 'active' if index == 0 %>">
                  <a href="#" title="<%= record.dc_titles.first.title %>">
                    <%= truncate(record.dc_titles.first.title, length: 95) %>
                  </a>
                  <% if solr_documents_features_block.secondary_caption? %>
                    <p><%= record.dc_creators.first.creator %></p>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </div>
        </div>

        <!-- Indicators -->
        <ol class="carousel-indicators justify-content-start col-sm-6 list-group list-striped">
          <%= safe_join(indicators, "\n") %>
        </ol>
      </div>
    </div>
  <% end %>
</div>
