%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed#hamburger{type: "button", "data-toggle" => "collapse", "data-target" => "#main_navigation", "aria-expanded" => "false"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      #search-container
        = render_search_bar

    .collapse.navbar-collapse#main_navigation.navbar-right
      %ul.nav.navbar-nav.col-md-12#site-nav-list

        %li
          = link_to "Search", page_path("catalog")

        %li.dropdown
          = render partial: "shared/essays_and_exibits"

        %li
          = link_to "Collections", search_catalog_path( f: {"is_collection_id_i" => ['is_collection_id_i']} )

        %li
          = link_to "About", page_path("about/about")

        %li
          = link_to "Data", page_path("tutorials/data_access")

:javascript
  (function($){
    $(document).ready(function(){
      $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
        event.preventDefault();
        event.stopPropagation();
        $(this).parent().siblings().removeClass('open');
        $(this).parent().toggleClass('open');
      });
    });
  })(jQuery);


