%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed#hamburger{type: "button", "data-toggle" => "collapse", "data-target" => "#main_navigation", "aria-expanded" => "false"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      #search-container
        = render_search_bar

    .collapse.navbar-collapse#main_navigation.navbar-right
      %ul.nav.navbar-nav.col-md-12#site-nav-list

        %li
          = link_to "Search", page_path("catalog")

        %li.dropdown
          %a.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
            Essays & Exibits
            %span.caret
          %ul.dropdown-menu
            - Dir["app/views/pages/essays/*"].each do |file|
              %li
                - page_id = file.split("/").last.split('.').first
                = link_to titleize_dropdown_links("#{page_id}"), page_path("essays/#{page_id}")

        %li
          = link_to "Collections", search_catalog_path( f: {"is_collection_id_i" => ['is_collection_id_i']} )

        %li
          = link_to "About", page_path("about/about")

        %li.dropdown
          %a.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
            Data
            %span.caret
          %ul.dropdown-menu
            - Dir["app/views/pages/Tutorials/*"].each do |file|
              %li
                - page_id = file.split("/").last.split('.').first
                = link_to titleize_dropdown_links("#{page_id}"), page_path("tutorials/#{page_id}")
