%h3
  = @record.dc_titles.first.title
%table.table
  %thead
    %tr
  %thead
  %tbody
    - if @record.dc_dates.count > 1
      %tr
        %th{ scope: "row" }
          Date range
        %td
          = display_date_range(@record)
    - else
      - @record.dc_dates.each do |dc_date|
        %tr
          %th{ scope: "row" }
            Date created
          %td
            = dc_date.date.strftime("%m-%d-%Y")

    - @record.dc_creators.each do |dc_creator|
      %tr
        %th{ scope: "row" }
          Creator
        %td
          = link_to dc_creator.creator, search_catalog_path( search_field: "creator", q: @record.dc_creators.first.creator )

    - @record.dc_contributors.each do |dc_contributor|
      %tr
        %th{ scope: "row" }
          Creator
        %td
          = dc_contributor.contributor

    - @record.dc_publishers.each do |dc_publisher|
      %tr
        %th{ scope: "row" }
          Publisher
        %td
          = dc_publisher.publisher

    - @record.dc_descriptions.each do |dc_description|
      %tr
        %th{ scope: "row" }
          Description
        %td
          = dc_description.description

    - @record.dc_terms_extents.each do |dc_term_extent|
      %tr
        %th{ scope: "row" }
          Extent / Size of item
        %td
          = dc_term_extent.extent

    - @record.dc_types.each do |dc_type|
      %tr
        %th{ scope: "row" }
          Type
        %td
          = dc_type.type

    - @record.dc_subjects.each do |dc_subject|
      %tr
        %th{ scope: "row" }
          Subject
        %td
          = dc_subject.subject

    %tr
      %th{ scope: "row" }
        Archival collection
      %td

    - @record.dc_terms_spacials.each do |dc_terms_spacial|
      %tr
        %th{ scope: "row" }
          Location
        %td
          = dc_terms_spacial.spacial

    - @record.dc_languages.each do |dc_language|
      %tr
        %th{ scope: "row" }
          Language
        %td
          = dc_language.language

    - @record.dc_identifiers.each do |dc_identifier|
      %tr
        - if dc_identifier.identifier.split(":").first == "http" || dc_identifier.identifier.split(":").first == "https"
          %th{ scope: "row" }
            View full item
          %td
            = link_to dc_identifier.identifier, dc_identifier.identifier, target: "_blank"
        - else
          %th{ scope: "row" }
            Identifier
          %td
            = dc_identifier.identifier

    %tr
      %th{ scope: "row" }
        Contributing institution
      %td
        = @record.repository.name

    - @record.dc_rights.each do |dc_right|
      %tr
        %th{ scope: "row" }
          Rights
        %td
          = dc_right.rights
