%h3
  = @record.dc_titles.first.title
%table.table
  %thead
    %tr
  %thead
    %tbody
      - if @record.file_name
        %tr
          %th{ scope: "row" }
            Image
          %td
            - if @record.dc_identifiers.map{|id| id.identifier_is_url? }.any?
              %a{ href: "#{@record.dc_identifiers.find{|id| id.identifier_is_url? }.identifier}", target: "_blank"}
                = image_tag("https://s3.us-east-2.amazonaws.com/pacscl-production#{@record.file_name}")
            - else
              = image_tag("https://s3.us-east-2.amazonaws.com/pacscl-production#{@record.file_name}")

      - if @record.dc_dates.any?
        = render 'dc_dates'

      - if @record.dc_creators.any? || @record.dc_contributors.any?
        = render 'dc_creators'

      - if @record.dc_publishers.any?
        = render 'dc_publishers'

      - if @record.dc_descriptions.any?
        = render 'dc_descriptions'

      - if @record.dc_terms_extents.any?
        = render 'dc_terms_extents'

      - if @record.dc_types.any?
        = render 'dc_types'

      - if @record.dc_subjects.any? && !@record.is_collection?
        = render 'dc_subjects'

      - if @record.dc_terms_spacials.any?
        = render 'dc_terms_spacials'

      - if @record.is_collection? && !@collection_repository_url.nil?
        = render 'collection_home_repo_link'

      - if @record.dc_languages.any? && !@record.is_collection?
        = render 'dc_languages'

      - if @record.dc_identifiers.any?
        = render 'dc_identifiers'

      - if @record.is_collection? && @record.dc_terms_is_part_ofs.any?
        = render 'is_part_ofs'

      - if !@record.repository_id.blank?
        = render 'repository'

      - if @record.dc_rights.any?
        = render 'dc_rights'

      - if @record.is_collection? && Record.records_for_collection(@record.id)
        = render 'collection_records_link'

      - if @record.full_texts.any?
        = render 'full_text'

