<h3><%= @record.dc_titles.first.title %></h3>

<table class="table">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">OAI Identifier</th>
      <td>
        <%= @record.oai_identifier %>
      </td>
    </tr>
    <% @record.dc_titles.each do |dc_title| %>
      <tr>
        <th scope="row">Title</th>
        <td>
          <%= dc_title.title %>
        </td>
      </tr>
    <% end %>
    <% @record.dc_creators.each do |dc_creator| %>
      <tr>
        <th scope="row">Creator</th>
        <td>
          <%= dc_creator.creator %>
        </td>
      </tr>
    <% end %>
    <% @record.dc_dates.each do |dc_date| %>
      <tr>
        <th scope="row">Date</th>
        <td>
          <%= dc_date.date %>
        </td>
      </tr>
    <% end %>
    <% @record.dc_subjects.each do |dc_subject| %>
      <tr>
        <th scope="row">Subject</th>
        <td>
          <%= dc_subject.subject %>
        </td>
      </tr>
    <% end %>
    <% @record.dc_formats.each do |dc_format| %>
      <tr>
        <th scope="row">Format</th>
        <td>
          <%= dc_format.format %>
        </td>
      </tr>
    <% end %>
    <% @record.dc_types.each do |dc_type| %>
      <tr>
        <th scope="row">Type</th>
        <td>
          <%= dc_type.type %>
        </td>
      </tr>
    <% end %>
    <% @record.dc_languages.each do |dc_language| %>
      <tr>
        <th scope="row">Language</th>
        <td>
          <%= dc_language.language %>
        </td>
      </tr>
    <% end %>
    <% @record.dc_rights.each do |dc_right| %>
      <tr>
        <th scope="row">Rights</th>
        <td>
          <%= dc_right.rights %>
        </td>
      </tr>
    <% end %>
    <% @record.dc_relations.each do |dc_relation| %>
      <tr>
        <th scope="row">Relation</th>
        <td>
          <%= dc_relation.relation %>
        </td>
      </tr>
    <% end %>
    <% @record.dc_identifiers.each do |dc_identifier| %>
      <tr>
        <th scope="row">Identifier</th>
        <td>
          <%= dc_identifier.identifier %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>