.row
  %h2.col-md-4 In Her Own Right

  %nav.navbar.navbar-default.navbar-right.col-md-8
    .container-fluid
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.col-md-12
          %li
            = link_to "Catalog", page_path("catalog")

          %li
            = link_to "About", page_path("about/about")

          %li.dropdown
            %a.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              Collection Guides
              %span.caret
            %ul.dropdown-menu
              - Dir["app/views/pages/collection_guides/*"].each do |file|
                %li
                  - page_id = file.split("/").last.split('.').first
                  = link_to "#{page_id}", page_path("collection_guides/#{page_id}")

          %li.dropdown
            %a.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              Essays
              %span.caret
            %ul.dropdown-menu
              - Dir["app/views/pages/essays/*"].each do |file|
                %li
                  - page_id = file.split("/").last.split('.').first
                  = link_to titleize_dropdown_links("#{page_id}"), page_path("essays/#{page_id}")

          %li.dropdown
            %a.dropdown-toggle{href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              Tutorials
              %span.caret
            %ul.dropdown-menu
              - Dir["app/views/pages/Tutorials/*"].each do |file|
                %li
                  - page_id = file.split("/").last.split('.').first
                  = link_to "#{page_id}", page_path("tutorials/#{page_id}")
