- classname, id = document.id.split(' ')
- klass = classname.constantize
- instance = klass.find(id.to_i)
- instance = instance.record if instance.respond_to?(:record)

= # header bar for doc items in index view
.documentHeader.row
  = # main title container for doc partial view
  = # How many bootstrap columns need to be reserved
  = # for bookmarks control depends on size.

  - document_actions = capture do
    = # bookmark functions for items/docs
    = render_index_doc_actions document, wrapping_class: "index-document-functions col-sm-3 col-lg-2"

  - if instance.is_collection?
    %a{ href: "#{record_path(instance)}", style: 'float:left;'}
      = image_tag "/static_images/collection.png"

  - elsif instance.thumbnail
    %a{ href: "#{record_path(instance.id)}", style: 'float:left;'}
      = image_tag(instance.thumbnail)

  %h3.index_title.document-title-heading.col-sm-9.col-lg-10
    %div
      - if counter = document_counter_with_offset(document_counter)
        %span.document-counter
          = t('blacklight.search.documents.counter', counter: counter)
      - if instance.is_collection?
        = link_to "#{instance.dc_titles.first.title} (collection description)", record_path(instance)
      - else
        = link_to instance.dc_titles.first.title, record_path(instance)
      %br
      %br
      - if !instance.dc_creators.first.blank?
        %h6.col-sm-12.collections_subhead
          Creator: #{instance.dc_creators.first.creator}

      - if !instance.dc_dates.first.blank?
        - if instance.dc_dates.count > 1
          - if instance.dc_dates.last.english_date
            %h6.col-sm-12.collections_subhead
              = "Date Created: #{instance.dc_dates.minimum(:date).strftime("%Y-%m-%d")} - #{instance.dc_dates.maximum(:date).strftime("%Y-%m-%d")}, #{instance.dc_dates.last.english_date}"
          - else
            %h6.col-sm-12.collections_subhead
              = "Date Created: #{instance.dc_dates.minimum(:date).strftime("%Y-%m-%d")} - #{instance.dc_dates.maximum(:date).strftime("%Y-%m-%d")}"
        - else
          - if instance.dc_dates.first.date && instance.dc_dates.last.english_date
            %h6.col-sm-12.collections_subhead
              = "#{instance.dc_dates.first.date.strftime("%Y-%m-%d")}, #{instance.dc_dates.last.english_date}"
          - else
            - if instance.dc_dates.first.date
              %h6.col-sm-12.collections_subhead
                = "Date Created: #{instance.dc_dates.first.date.strftime("%Y-%m-%d")}"
      - if instance.is_collection?
        - if !instance.dc_creators.blank?
          - if Record.for_same_creator(instance.dc_creators.first.id).count > 1
            %h5.col-sm-12
              = link_to "View digitized items from this collection", search_catalog_path( search_field: "creator", q: instance.dc_creators.first.creator )
        - if Record.records_for_collection(instance.id).count > 1
          %h5.col-sm-12
            = link_to "View digitized items from this collection", search_catalog_path( f: {"collection_id_im" => [instance.id]} )
