= form_tag search_catalog_path, method: :get, class: 'search-query-form', role: 'search' do
  = render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8, :exhibit_id))
  - if search_fields.length > 1
    %label.sr-only{for: "search_field"}= t('blacklight.search.form.search_field.label')
  .input-group
    - if search_fields.length > 1
      = select_tag(:search_field,                                    |
        options_for_select(search_fields, h(params[:search_field])), |
        title: t('blacklight.search.form.search_field.title'),       |
        id: "search_field",                                          |
        class: "custom-select search-field")                         |
    - elsif search_fields.length == 1
      = hidden_field_tag :search_field, search_fields.first.last
    %label.sr-only{for: "q"}= t('blacklight.search.form.search.label')
    = text_field_tag :q, params[:q], placeholder: "Search the catalog...", class: "search-q q form-control", id: "q", autofocus: presenter.autofocus?, data: { autocomplete_enabled: presenter.autocomplete_enabled?, autocomplete_path: search_action_path(action: :suggest) }
    %span.input-group-append
      %button#search.btn.btn-primary.search-btn{type: "submit"}
        %span.submit-search-text= t('blacklight.search.form.submit')
        = blacklight_icon :search

    %nav.navbar.navbar-expand-lg.navbar-default.sub-nav.col-sm-6#explore
      %ul.navbar-nav.flex-row.justify-content-around.container-fluid
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :href => "#", :id => "exploreDropdown"}
            Explore
          %ul.dropdown-menu{"aria-labelledby" => "exploreDropdown"}
            %li.dropdown-submenu
              %a.dropdown-item.dropdown-toggle{"data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :href => "#", :id => "dataSubMenuDropdown"}
                Data
              %ul.dropdown-menu{"aria-labelledby" => "dataSubmenuDropdown"}
                %li
                  = link_to "/map", class: "dropdown-item" do
                    %span Map
                %li
                  = link_to "/visualization", class: "dropdown-item" do
                    %span Visualization
                %li
                  = link_to "/spotlight/data/feature/api-access-and-data-sets", class: "dropdown-item" do
                    %span API and Data Sets
                %li
                  = link_to "/spotlight/data/feature/tools-for-data-exploration", class: "dropdown-item" do
                    %span Tools
            %li.dropdown-submenu
              %a.dropdown-item.dropdown-toggle{"data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :href => "#", :id => "guidesSubMenuDropdown"}
                Guides
              %ul.dropdown-menu{"aria-labelledby" => "guidesSubmenuDropdown"}
                %li
                  = link_to "/spotlight/guides/feature/subject-guides", class: "dropdown-item" do
                    %span Subject Guides
                %li
                  = link_to "/spotlight/guides/feature/collections-guide", class: "dropdown-item" do
                    %span Collections Guide
                %li
                  = link_to "/spotlight/guides/feature/institution-based-guide", class: "dropdown-item" do
                    %span Institutions Guide
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :href => "#", :id => "learnDropdown"}
            Learn
          %ul.dropdown-menu{"aria-labelledby" => "learnDropdown"}
            %li.dropdown-submenu
              %a.dropdown-item.dropdown-toggle{"data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :href => "#", :id => "SubMenuDropdown"}
                Essays and Exhibits
              %ul.dropdown-menu{"aria-labelledby" => "SubmenuDropdown"}
                %li
                  = link_to "/spotlight/introducing-women-s-activism", class: "dropdown-item" do
                    %span Introducing Women's Activism
                %li
                  = link_to "/spotlight/featured-exhibits", class: "dropdown-item" do
                    %span Featured Exhibits
                %li
                  = link_to "/spotlight/biographical-profiles", class: "dropdown-item" do
                    %span Biographical Profiles
                %li
                  = link_to "/spotlight/collections-and-context", class: "dropdown-item" do
                    %span Collections and Context
            %li.nav-item
              = link_to "Teachers and Students", "/spotlight/teachers-and-students", class: "dropdown-item"
            %li.nav-item
              = link_to "Search Tips", "/spotlight/teachers-and-students/feature/search-tips", class: "dropdown-item"
        %li.nav-item
          = link_to "About", "/spotlight/about"
        %li.nav-item
          = link_to "Website Search", "/website_search"

